.vercel
*.log
*.pyc
__pycache__

# Environments 
.env 
.venv 
env/ 
venv/
ENV/ 
env.bak/ 
venv.bak/ 
config.json
providers copy.json
providers copy 2.json
providers_mac.json
.gitignore
providers_route.json
providers_none.json
providers_mac.txt
providers_route.txt
config.txt
providers_none.txt
